## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bengkulu,ID,-3.8004,102.2655,75.60,89,98,5.82,overcast clouds
1,1,Saint-Augustin,CA,51.2260,-58.6502,48.47,56,100,14.14,overcast clouds
2,2,Barrow,US,71.2906,-156.7887,39.22,93,75,8.05,broken clouds
3,3,Torbay,CA,47.6666,-52.7314,59.58,66,75,20.71,broken clouds
4,4,Ayr,GB,55.4627,-4.6339,63.32,77,20,5.75,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bengkulu,ID,-3.8004,102.2655,75.60,89,98,5.82,overcast clouds
6,6,Sao Filipe,CV,14.8961,-24.4956,79.18,72,100,8.03,overcast clouds
9,9,Dzilam Gonzalez,MX,21.2833,-88.9333,86.18,62,8,3.31,clear sky
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,56,0,9.22,clear sky
12,12,Cabo San Lucas,MX,22.8909,-109.9124,81.52,87,100,8.05,overcast clouds
21,21,Gat,IL,31.6100,34.7642,81.28,100,81,8.95,broken clouds
24,24,Dong Hoi,VN,17.4833,106.6000,80.98,82,98,4.72,overcast clouds
25,25,Beroroha,MG,-21.6667,45.1667,84.74,23,4,3.53,clear sky
28,28,Praia Da Vitoria,PT,38.7333,-27.0667,80.85,74,20,8.28,few clouds
29,29,Qesarya,IL,32.5189,34.9046,82.33,61,36,10.31,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 0 to 694
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              272 non-null    int64
 1   City                 272 non-null    object
 2   Country              269 non-null    object
 3   Lat                  272 non-null    float64
 4   Lng                  272 non-null    float64
 5   Max Temp             272 non-null    float64
 6   Humidity             272 non-null    int64
 7   Cloudiness           272 non-null    int64
 8   Wind Speed           272 non-null    float64
 9   Current Description  272 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 23.4+ KB

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bengkulu,ID,-3.8004,102.2655,75.60,89,98,5.82,overcast clouds
6,6,Sao Filipe,CV,14.8961,-24.4956,79.18,72,100,8.03,overcast clouds
9,9,Dzilam Gonzalez,MX,21.2833,-88.9333,86.18,62,8,3.31,clear sky
11,11,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,56,0,9.22,clear sky
12,12,Cabo San Lucas,MX,22.8909,-109.9124,81.52,87,100,8.05,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Caucaia,BR,-3.7361,-38.6531,85.95,58,20,25.32,few clouds
685,685,Hamilton,US,39.1834,-84.5333,79.57,78,0,14.97,clear sky
687,687,Birao,CF,10.2849,22.7882,82.54,76,47,2.55,scattered clouds
692,692,Mazabuka,ZM,-15.8560,27.7480,87.12,17,17,2.98,few clouds
694,694,Kutum,SD,14.2000,24.6667,89.47,23,78,6.40,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bengkulu,ID,75.60,overcast clouds,-3.8004,102.2655,
6,Sao Filipe,CV,79.18,overcast clouds,14.8961,-24.4956,
9,Dzilam Gonzalez,MX,86.18,clear sky,21.2833,-88.9333,
11,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,
12,Cabo San Lucas,MX,81.52,overcast clouds,22.8909,-109.9124,
21,Gat,IL,81.28,broken clouds,31.6100,34.7642,
24,Dong Hoi,VN,80.98,overcast clouds,17.4833,106.6000,
25,Beroroha,MG,84.74,clear sky,-21.6667,45.1667,
28,Praia Da Vitoria,PT,80.85,few clouds,38.7333,-27.0667,
29,Qesarya,IL,82.33,scattered clouds,32.5189,34.9046,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # needed to place params here to make loop accurate
    params = {
    "location": f"{lat},{lng}",
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df["Hotel Name"].value_counts()

Dibbo areaمنطقة دبو                  15
Grage Hotel Bengkulu                  1
Hotel Posta                           1
Mian Lodge                            1
Valley Breeze Guest House             1
                                     ..
Auki Motel                            1
Hotel y restaurante "El Diamante"     1
Hôtel Hiva Oa Hanakee Lodge           1
Pousada Beija Flor                    1
kachali king traders                  1
Name: Hotel Name, Length: 255, dtype: int64

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))